body{
    text-align: center;
    background-color:  rgb(177, 143, 97);

}
.container{
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
   
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
   
    gap: 1vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0,0,1rem rgba(0, 0,0, 0.5);
    font-size: 8vmin;
    background-color: white;
    
    border: none;
    
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
#reset{

    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: aliceblue;
    border: none;

}
#new-btn{
        border-radius: 10px;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: aliceblue;
    border: none;

}
#msg{
    color: aliceblue;
    font-size: 8vmin;
}
.hide{
    display: none;
}
.X {
    color:chocolate;
}
.O {
    color: rgb(85, 50, 4);
}
.box:hover {  
    transform: scale(1.05);
  transition: 0.2s ease;
}